body {
  background-color: rgba(237, 234, 228, 1);
  font-family: 'Didact Gothic', sans-serif;
}

table {
  width: 100%;
  margin: 30px;
  list-style: none;
  position: relative;
  border-radius: 0.5;
}

th a{
  color: black;
  text-decoration: none;
  font-size: 25px;
}

th:hover {
  text-decoration: underline;
}

th:nth-child(1){
  text-decoration: underline;
}

.rectangle1 {
  height: 100px;
  width: 30%;
  background: repeating-linear-gradient(
    135deg,
    rgba(237, 234, 228, 1),
    rgba(237, 234, 228, 1) 3px,
    rgba(250, 70, 226, 1) 3px,
    rgba(250, 70, 226, 1) 6px
  );
  outline-color: rgba(250, 70, 226, 1);
  outline-style: solid;
  object-position: left;
  margin-left: -10px;
}

.rectangle2 {
  height: 500px;
  width: 8%;
  background: repeating-linear-gradient(
    135deg,
    rgba(237, 234, 228, 1),
    rgba(237, 234, 228, 1) 3px,
    rgba(50, 179, 82) 3px,
    rgba(50, 179, 82) 6px
  );
  outline-color: rgba(50, 179, 82);
  outline-style: solid;
  object-position: left;
  margin-left: -20px;
  float: left;
  display: inline-flex;
}

.rectangle3 {
  height: 500px;
  width: 30%;
  background: repeating-linear-gradient(
    135deg,
    rgba(237, 234, 228, 1),
    rgba(237, 234, 228, 1) 3px,
    rgba(196, 191, 22) 3px,
    rgba(196, 191, 22) 6px
  );
  outline-color: rgba(196, 191, 22);
  outline-style: solid;
  object-position: right;
  margin-right: -50px;
  float: right;
}

h1{
  object-position: left;
  margin-left: 15%;
  font-size: 40px;
}

p{
  object-position: left;
  margin-left: 15%;
  margin-right: 35%;
  font-size: 18px;
}

button{
  object-position: left;
  margin-top: 10px;
  width: 16%;
  font-family: 'Didact Gothic', sans-serif;
  padding: 5px;
  margin: 10px;
  border-radius: 10px;
}

button a{
  color: black;
  text-decoration: none;
  font-size: 25px;
}

#linkedin-btn{
  margin-left: 8%;
}

a {
  color: rgba(250, 70, 226, 1);
  text-decoration: none;
}

a:hover {
  color: rgba(128, 58, 224, 1);
}


