body {
  background-color: rgba(23, 39, 82, 1);
  background-image: url(https://images.unsplash.com/photo-1553375388-5917bf50a7ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8c3RhcnJ5fGVufDB8fDB8fA%3D%3D&w=1000&q=80);
  font-family: 'Courier New', sans-serif;
}

table {
  width: 95%;
  margin: 50px;
  list-style: none;
  position: relative;
  border-radius: 0.5;
}

th a{
  color: whitesmoke;
  text-decoration: none;
  font-size: 20px;
}

th:hover {
  text-decoration: underline;
}

th:nth-child(1){
  text-decoration: underline;
}

.rectangle1 {
  height: 600px;
  width: 15%;
  background: none;
  outline-color: white;
  outline-style: dotted;
  object-position: left;
  margin-left: -10px;
  float: left;
}

.rectangle3 {
  height: 600px;
  width: 15%;
  background: none;
  outline-color: white;
  outline-style: dotted;
  object-position: right;
  margin-right: -10px;
  float: right;
}

h1{
  object-position: center;
  text-align: center;
  font-size: 40px;
  color: white;
}

p{
  object-position: center;
  text-align: center;
  font-size: 18px;
  color: white;
  margin-left: 20%;
  margin-right: 20%;
}

button{
  object-position: center;
  margin-top: 5px;
  width: 10%;
  font-family: 'Courier New', sans-serif;
  padding: 5px;
  margin-left: 10%;
  border-radius: 100%;
  aspect-ratio: 1;
  border-width: 5px;
}

button a{
  color: black;
  text-decoration: none;
  font-size: 20px;
}

#linkedin-btn{
  margin-left: 10%;
}

a {
  color: rgba(74, 224, 202);
  text-decoration: none;
}

a:hover {
  color: rgba(74, 174, 224, 1);
}


